# Build & Temp
*.zip
*.log
*.tmp
.idea/
.gradle/
build/
bin/
obj/
scratch/
.system_generated/
*.idsig
*firebase_credentials.json
*credentials.json
*secret*
RKG_Suyambu_Android_Studio_Project/app/src/main/assets/RKG_Suyambu_Web_ERP_Backend/

# Track required production binaries
!RKG_Suyambu_CEO.apk
!New_Bill_Windows11.exe
!RKG_Suyambu_Windows11_POS/New_Bill_Windows11.exe
